In [10]:
import pandas as pd
import altair as alt
alt.renderers.set_embed_options(theme='dark')
pd.set_option('display.max_colwidth', None)

# Analysis & Charts

In [11]:
def claim(claim_hash):
    try:
        df_claim = pd.read_json(
            f"https://api.flipsidecrypto.com/api/v2/queries/{claim_hash}/data/latest",
            convert_dates=["BLOCK_TIMESTAMP"],
        )
    except Exception as e:
        print(e)
        return 
    return df_claim

In [66]:
class DataProvider:    
    
    def __init__(self):
        self.lock234 = '9f7cf9ef-f7eb-45b5-92e2-dccf12d56d05'
        self.exit234 = '94411e01-3592-47c4-8964-c0611c1ece7a'
        self.lock5 = 'd76eb662-4dee-4e5e-b5f4-20de7b6f7de0'
        self.exit5 = '6aff5bf8-ceb3-4744-a1fe-6277e54442bd'
        self.pools = {'No LP':'No LP','-1':'No LP','1':'OSMO/ATOM',
                               '604':'STARS/OSMO',
                               '674':'DAI/OSMO',
                               '648':'PSTAKE/OSMO',
                               '3':'AKT/OSMO',
                               '704':'wETH/OSMO',
                               '605':'HUAHUA/OSMO',
                               '678':'USDC/OSMO',
                               '601':'CMDX/OSMO',
                               '560':'UST/OSMO',
                               '561':'LUNA/UST',
                               '562':'LUNA/OSMO',
                               '577':'XKI/OSMO',
                               '690':'MNTL/OSMO'}
    
    def get_lock(self):
        df = claim(self.lock234).append(claim(self.lock5))
        df.columns = ['pool_id','day','gamma_tokens']
        df.day = df.day.apply(lambda x: x[:10])
        return df.groupby(['pool_id','day']).gamma_tokens.sum().reset_index()
    
    def get_exit(self):
        df = claim(self.exit234).append(claim(self.exit5))
        df.columns = ['pool_id','day','gamma_tokens']
        df.day = df.day.apply(lambda x: x[:10])
        return df.groupby(['pool_id','day']).gamma_tokens.sum().reset_index()

In [82]:
dp = DataProvider()

In [83]:
df = dp.get_lock()
df

      pool_id                      day  gamma_tokens
0           1  2022-01-31 00:00:00.000  2.421003e+04
1           1  2022-02-01 00:00:00.000  3.445742e+06
2           1  2022-02-02 00:00:00.000  1.072554e+06
3           1  2022-02-03 00:00:00.000  1.683169e+06
4           1  2022-02-04 00:00:00.000  1.239656e+06
...       ...                      ...           ...
7297      690  2022-05-18 00:00:00.000  3.994405e+02
7298      704  2022-05-15 00:00:00.000  1.160180e+04
7299      704  2022-05-16 00:00:00.000  1.003431e+04
7300      704  2022-05-17 00:00:00.000  5.492825e+03
7301      704  2022-05-18 00:00:00.000  1.116596e+03

[7302 rows x 3 columns]

In [84]:
lock_ = df.pivot(index='day', values='gamma_tokens', columns='pool_id').fillna(0)
lock_

pool_id,1,2,3,4,5,6,7,8,9,10,...,661,662,669,670,674,678,679,681,690,704
day,,,,,,,,,,,,,,,,,,,,,
2022-01-31 00:00:00.000,2.421003e+04,2.219797e+06,3692.237780,0.000000,0.000000e+00,0.000000e+00,1.170115e+02,9704.358611,4.520555e+04,2.921844e+03,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2022-02-01 00:00:00.000,3.445742e+06,4.151646e+06,25196.953963,3256.262892,5.438107e+07,2.109386e+07,3.559258e+05,57739.875953,1.365087e+06,3.708716e+06,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2022-02-02 00:00:00.000,1.072554e+06,5.489794e+06,231486.939873,6431.760351,2.074842e+06,2.798982e+05,4.364660e+05,57658.148458,3.680783e+05,1.182723e+06,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2022-02-03 00:00:00.000,1.683169e+06,6.561718e+06,440786.191184,1814.165134,3.485804e+06,3.119679e+06,5.081737e+05,113472.411858,1.502475e+06,1.242311e+06,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2022-02-04 00:00:00.000,1.239656e+06,2.034170e+06,231835.112074,148588.041815,9.152947e+05,9.985338e+05,3.476603e+06,52524.901138,2.395294e+05,8.365160e+05,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-14 00:00:00.000,9.138503e+06,1.655280e+06,36020.772711,4.809224,3.476468e+03,0.000000e+00,4.248361e+05,50539.084499,1.640739e+06,1.925395e+06,...,0.0,113.493497,117.304913,5557.742117,0.000000,1156.475600,0.170254,38416.815925,398.782431,0.000000
2022-05-15 00:00:00.000,1.532465e+06,4.296023e+05,195410.388737,0.000000,4.471046e+04,0.000000e+00,8.712813e+05,50155.629996,1.889357e+06,5.487920e+05,...,0.0,60.196730,107.256062,14796.433584,36710.933757,57424.734151,0.076400,103.594632,556.101854,11601.799761
2022-05-16 00:00:00.000,4.316664e+05,5.779893e+04,126059.568124,1502.132309,2.779328e+04,0.000000e+00,1.595524e+06,0.000000,6.296783e+05,1.505294e+05,...,0.0,17.394363,36.827213,355883.608354,62258.675099,161336.117798,0.000000,4582.733878,203345.337411,10034.312994
2022-05-17 00:00:00.000,4.073012e+05,1.613360e+05,577718.933295,1470.013160,3.290072e+04,8.452827e+01,4.188045e+05,50095.539700,2.764624e+06,5.554512e+03,...,0.0,46.817467,32.237412,0.000000,33235.390655,59300.938447,0.000000,2310.635713,8403.943814,5492.824587
2022-05-18 00:00:00.000,2.084994e+04,1.127658e+04,118378.457818,0.000000,1.037685e+02,0.000000e+00,0.000000e+00,0.000000,2.094983e+04,8.351386e+02,...,0.0,1.421434,6.263312,0.000000,6613.476632,2220.133274,0.000000,0.000122,399.440463,1116.596095

In [120]:
df = dp.get_exit()
df

0       2022-01-3
1       2022-02-0
2       2022-02-0
3       2022-02-0
4       2022-02-0
          ...
8205    2022-05-1
8206    2022-05-1
8207    2022-05-1
8208    2022-05-1
8209    2022-05-1
Name: day, Length: 8210, dtype: object

In [113]:
exit_ = df.pivot(index='day', values='gamma_tokens', columns='pool_id').fillna(0)
delta = lock_.append(-exit_)
delta = delta.groupby(['day']).sum().reset_index()
delta = delta.set_index('day')

In [114]:
delta_cumsum = delta.sort_values(by='day').cumsum()

In [115]:
delta_cumsum[678]

day
2022-01-31 00:00:00.000         0.000000
2022-02-01 00:00:00.000         0.000000
2022-02-02 00:00:00.000         0.000000
2022-02-03 00:00:00.000         0.000000
2022-02-04 00:00:00.000         0.000000
                               ...
2022-05-14 00:00:00.000     65679.800585
2022-05-15 00:00:00.000    121641.000683
2022-05-16 00:00:00.000    282573.348255
2022-05-17 00:00:00.000    340599.006942
2022-05-18 00:00:00.000    342780.511208
Name: 678, Length: 108, dtype: float64

In [116]:
delta_cumsum.to_json('../data/delta_cumsum.json')